<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <title>Sign in</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet"/>
</head>
<body>

<form  th:action="@{/login}" method="post" class="form-signin">
    <div th:if="${param.error}" >
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" >
        You have been logged out.
    </div>
    <label> Имя: </label>
    <div><input type="text"  name="username" class="form-control" /> </div>
    <label>  Пароль: </label>
        <div><input type="password" name="password" class="form-control" /> </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>


</body>
</html>